.Main-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10px;
    z-index: 100;
}

.overflow-nav-windows {
    height: 60px;
}

.streak {
    position: fixed;
    left: 10px;
    top: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    color: #FF9908;
    background-color: transparent;
    z-index: 100;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.streak img{
    animation: flame 1.5s ease-in-out  2s;
}

@keyframes flame {
    0%{rotate: 0deg;opacity: 0.5;}
    25%{rotate: 20deg; scale: 1.4;}
    50%{rotate: -20deg;opacity: 1;}
}

.streak p{
    margin: 0;
    text-align: center;
    transform: translateY(-10px);
}

.group-nemu {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    /* background-color: antiquewhite; */
    padding: 05px 10px;
    border-radius: 40px;
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 3px solid var(--border);
}

.Nenu-nav {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 2px 5px;
    border-radius: 20px;
}

.Nenu-nav.active {
    background-color: var(--border);
}
.Nenu-nav.active img{
    filter: invert(1);
}

.Nenu-nav:hover {
    background-color: var(--border);
}
.Nenu-nav:hover img{
    filter: invert(1);
}

@media screen and (max-width: 500px) {
    .Main-nav {
        position: fixed;
        display: flex;
        bottom: 10px;
    }

    .overflow-nav-windows {
        display: none;
    }

    .streak {
        bottom: 60px;
        right: 10px;
        left: auto;
        top: auto;
    }
}